.card {
  width: 100%;
  aspect-ratio: 1/1;
  padding: 2em;
  background-color: #eee;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.3s;
}
.card.flipped {
  background-color: #fff;
  border: 2px solid #ccc;
}
